* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0f10;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/* Header */
.header {
    background-color: #090909;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}



::placeholder {
    color: white;
}

.cart-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: center;



}

.cart-img {
    height: 30px;
}

.cart {
    font-size: 18px;
}

/* Game cards container */
.game-container {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    gap: 20px;
    padding-left: 255px;
    padding-right: 225px;
    font-weight: 400;
    letter-spacing: 0.2px;


}

/* Card */
.game-card {
    background-color: rgb(16, 16, 20);
    border-radius: 8px;
    /* padding: 15px; */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}



.game-card p {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.game-card button {

    background-color: #D32F2F;
    color: #FFFFFF;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}






.game-card button:hover {
    background-color: #B71C1C;
    /* darker red on hover */
    transform: scale(1.03);
}

.game-card button:active {
    transform: scale(0.98);
}

.game-info {

    padding: 10px;

}



.search-box {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 250px;
    padding: 12px 16px;

    background: #1f1f22;
    border-radius: 999px;
}

.search-icon {
    width: 20px;
    height: 20px;
    stroke: #9fa0a4;
    stroke-width: 2;
    fill: none;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;

    color: #fff;
    font-size: 14px;
    width: 100%;
}

.search-box input::placeholder {
    color: #9fa0a4;
}

.search-box:focus-within {
    background: #2a2a2e;
}

.cart-icon {
    width: 42px;
    height: 42px;

    background: #1f1f22;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    position: relative
}

.cart-img {
    height: 25px;
}



.cart-count {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 22px;
    height: 22px;

    background: #0078f2;
    color: #fff;

    font-size: 15px;
    font-weight: normal;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-store {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
    text-shadow: 0 0 8px rgba(0, 120, 242, 0.6);
}

.AddMore {
    background-color: #2E7D32;
    /* dark green */
    color: #FFFFFF;
}